# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/PPKE/DIG_SZAR/5_VIDEO/0-Boole logic, Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/1-Boole logic, Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/2-Information representation, Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/3-Information representation, Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/4-Arithmetic Circuits, Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/5-Arithmetic Circuits, Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/6-Arithmetic Circuits, Part III..mp4
public/PPKE/DIG_SZAR/5_VIDEO/7-Basic building blocks.mp4
public/PPKE/DIG_SZAR/5_VIDEO/8-Instruction execution, addressing modes, RISCCISC processors, Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/9-Instruction execution, addressing modes, RISCCISC processors, Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/10-Instruction execution, addressing modes, RISCCISC processors, Part III..mp4
public/PPKE/DIG_SZAR/5_VIDEO/11-Instruction execution, addressing modes, RISCCISC processors, Part IV..mp4
public/PPKE/DIG_SZAR/5_VIDEO/12-Control unit, programmable logic devices, FPGA Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/13-Control unit, programmable logic devices, FPGA Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/14-Control unit, programmable logic devices, FPGA Part III..mp4
public/PPKE/DIG_SZAR/5_VIDEO/15-Control unit, programmable logic devices, FPGA Part IV..mp4
public/PPKE/DIG_SZAR/5_VIDEO/16-IO Operations, PCI, PCI Express, SCSI bus Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/17-IO Operations, PCI, PCI Express, SCSI bus Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/19-IO Operations, PCI, PCI Express, SCSI bus Part III..mp4
public/PPKE/DIG_SZAR/5_VIDEO/20-IO Operations, PCI, PCI Express, SCSI bus Part IV..mp4
public/PPKE/DIG_SZAR/5_VIDEO/21-IO Operations, PCI, PCI Express, SCSI bus Part IV..mp4
public/PPKE/DIG_SZAR/5_VIDEO/22-Memory systems, Part I..mp4
public/PPKE/DIG_SZAR/5_VIDEO/23-Memory systems, Part II..mp4
public/PPKE/DIG_SZAR/5_VIDEO/24-Memory systems, Part III..mp4
public/PPKE/DIG_SZAR/5_VIDEO/25-Memory systems, Part IV..mp4
public/PPKE/1_GYAK_2025/00_Alapkapuk_Boole_fgvek.pdf
public/PPKE/1_GYAK_2025/00_Bevezetes_Generaciok.pdf
public/PPKE/1_GYAK_2025/00_Logikai_fv_egyszerusites.pdf
public/PPKE/1_GYAK_2025/01_Szamrendszerek.pdf
public/PPKE/1_GYAK_2025/02_03_04_05_06_Aritmetikai_adatkezeles.pdf
public/PPKE/1_GYAK_2025/04_Vezerlo_egysegek.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/00_Alapkapuk_Boole_fgvek.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/00_Bevezetes_Generaciok.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/00_Logikai_fv_egyszerusites.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/01_Szamrendszerek.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/02_03_04_05_06_vot.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/04-vót.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/07-vótmá.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/12_13_Memoriak.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/14_15_IO_muveletek.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/14_15_IO_muveletek.pdf – másolat.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/17_DSP.pdf
public/PPKE/1_GYAK_2025/2022 Elmelet/18_HLS.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/02_Szamrendszerek_n (4).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/02_Szamrendszerek_n (5).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/04_Aritmetikai_adatkezeles_n (1).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/04_Aritmetikai_adatkezeles_n.ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/05_Utasitaskodok_Cimzesimodok_n (1).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/05_Utasitaskodok_Cimzesimodok_n (2).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/05_Utasitaskodok_Cimzesimodok_n.ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/06_Vezerlo_egysegek_n (1).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/06_Vezerlo_egysegek_n.ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/08_Szekvencialis_I_Tarolok.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/09_Vezerlo_egysegek_n_73c6be35c25bd30d1873f5049cb5d739.pdf másolata.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/13 _IO_2024.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/14_15_IO_muveletek.pdf – másolat_másolat.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/16_PCI_PCIe_AXI_2024_e5d223dfa68720aaba0fe0f0421dccb6.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/drive-download-20240421T194200Z-001.zip
public/PPKE/1_GYAK_2025/2024 Elmelet/HLS (5).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/HLS (6).ppt
public/PPKE/1_GYAK_2025/2024 Elmelet/ilovepdf_converted.zip
public/PPKE/1_GYAK_2025/2024 Elmelet/risc-v_asm_tut_2023_24_2.odp
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/01_Logikai_egyenletek_leirasa.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/02_Fgv_Minimalizalas.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/03_Magas_szintű szintézis.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/05_Információ_reprezentáció.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/06 Műveletvégző áramkörök.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/07_Utasitaskodok_Cimzesimodok_n_21af6618b7cefbd7e00d208dee4d346f másolata.pdf
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/DIGSZAR-ZH1.docx
public/PPKE/1_GYAK_2025/2024 Elmelet/ZH1/zh1_elmelet.pdf
public/PPKE/1_GYAK_2025/Hf/Bacsi_Gergely_Mate_FF34TM.pdf
public/PPKE/DIG_SZAR/6_PROJEKT/DP_plotter_project.zip
