/* Alapértelmezett világos mód */
html {
  width: 100%;
  overflow-x: hidden;
}


.small-heading {
  font-size: 20px; /* Állítsd be a kívánt méretet */
  font-weight: normal; /* Állítsd be a kívánt betűvastagságot */
  text-align: left; /* Balra igazítja a szöveget */
  margin-left: 20px; /* Eltávolítja az esetleges bal oldali margót */
}




.container {
  display: grid;
  grid-template-areas:
    "header header"
    "navbar navbar"
    "content sidebar";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.header {
  position: sticky;
  grid-area: header;
  background-color: rgba(0, 0, 0, 1); /* Átlátszó navbar */
  color: white;
  text-align: center;
  z-index: 15;
  
  position: relative;
}


.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px; /* Szélesség beállítása */
  height: 30px; /* Magasság beállítása */
  background: none;
  border: none;
}



.navbar {
  grid-area: navbar;
  background-color: rgba(0, 0, 0, 1); /* Fekete 50% átlátszósággal */
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: row; /* Alapértelmezett, nagyobb képernyőkre */
  list-style: none;
  transition: all 0.3s ease-in-out;

}

.menu-toggle {
  display: none; /* Rejtsd el a gombot nagyobb képernyőkön */
  background: none;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
  border-radius: 3px;
  opacity: 1; /*Áttetszőbb lesz a háttérhez képest*/



}





.menu a:hover{
  transform: scale(1.01);
  background: #646060;
}


body {
  margin: 0;
  overflow: hidden; /* Fontos, hogy ne legyen görgetés */
  background: black;
}

.content {
  grid-area: content;
  padding: 20px;
  color: white;
  z-index: 1;
  position: relative;
}





.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .menu {
    display: none; /* Rejtett menü mobilon */
    flex-direction: column; /* Függőleges irány */
    background-color: rgba(0, 0, 0, 0.8); /* Átlátszó háttér */
    position: absolute;
    top: 60px; /* Az ikon alá helyezve */
    right: 0;
    width: 100%; /* Teljes szélesség */
    padding: 10px 0;
    z-index: 10;
  }

  .menu.open {
    display: flex; /* Megjelenik, ha nyitva van */
  }

  .menu-toggle {
    display: block; /* Csak mobilon jelenjen meg */
  }

  .menu a {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid white;
  }

  .menu a:last-child {
    border-bottom: none; /* Az utolsó elemhez ne legyen alsó szegély */
  }
}



.university-link-button,
.others-link-button,
.folder-button {
  background-color: white;
  color: black;
  width: 300px;
  padding: 10px 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  margin: 2px 0; /* Függőleges távolság növelése */
  text-decoration: none;
}


.folder-button:hover,
.others-link-button:hover,
.university-link-button:hover {
  background-color: #b9b9b9;
  transform: scale(1.1);
}




.university-links-list ,
.others-links-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



